@import 'tailwindcss';

:root {
  --oswald: 'Oswald', sans-serif;
  --sora: 'Sora', sans-serif;
}

@theme inline {
  --color-secondary: #065dc6;
  --color-secondary-hover: #0a6edc;
  --color-secondary-foreground: #ffffff;
  --color-accent: #ffd300;
  --color-accent-hover: #ffc700;
  --color-accent-foreground: #000000;
  --color-soft-dark: #141b22;
}

@layer utilities {
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-scroll {
    animation: scroll 16s linear infinite;
  }
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility flex-between {
  @apply flex items-center justify-between;
}

@layer utilities {
  .font-oswald {
    font-family: var(--oswald);
  }
  .font-sora {
    font-family: var(--sora);
  }
}
