@import "tailwindcss";

:root {
  --oswald: 'Oswald', sans-serif;
  --sora: 'Sora', sans-serif;
}

.font-oswald {
  font-family: var(--oswald);
}

.font-sora {
  font-family: var(--sora);
}

@layer utilities {
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-scroll {
    animation: scroll 16s linear infinite;
  }
}

/* Global CSS atau Tailwind config */
.swiper-pagination-bullet {
  background-color: #d1d5db !important; /* warna bullet default (abu-abu) */
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background-color: #065DC6 !important; /* warna bullet aktif (biru) */
}

.swiper-pagination {
  bottom: 0px !important; /* sesuaikan posisi */
}
